*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{

    background-image: url('../images/banner/banner1.png');

}

.btn-primary{
    color: #FFFF;       
    background: #F15B22;
    height: 60px;
    border-radius: 5px ;
    border: 0;              /* no border */
    padding: 18px 35px;     /*spacing around text inside button*/
    font-weight: 800;
    font-size: 20px;
}
/* Show the heading2 and list items in the same line */
nav{
    display: flex;

    /* Send the two items within navbar to two ends*/
    justify-content: space-between;
    margin: 50px 200px;
}

/* Show all the list items in the same line*/
nav ul{
    display: flex;
    align-items: center;    /**/
}

nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 50px;
}
.text-primary{
    color:#F15B22;
}


/* Banner Styles */
.banner{
    margin: 0 200px;
}
.banner-title{
  
    font-weight: 800;
    font-size: 65px;
    text-align: right;
    color: #151414;
    margin-top: 220px;
    margin-left: 700px;
}
.banner-subtitle{
    margin-top: 24px;
    margin-left: 800px;
    margin-bottom: 24px;
}
.btn-contact{
    margin-left: 800px;
    margin-bottom: 24px;
    color: #FFFF;       
    background: #F15B22;
    height: 60px;
    border-radius: 5px ;
    border: 0;              /* no border */
    padding: 18px 35px;     /*spacing around text inside button*/
    font-weight: 800;
    font-size: 20px;
}


/*About section styles*/
.about{
 display: flex;
}
.about-image{
    margin-left:200px;
    margin-top: 100px;
}
.about-description{
    margin-right:300px;
    margin-top:400px;
    margin-left: 90px;
}
.about-title{
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 40px;
}
.about-text{
    margin-bottom: 8px;
}
.about li{
    margin: 8px;
    list-style:lower-roman;
}

/*Plan section*/
.plans{
 margin: 130px 300px;  

}

.plan-title{
    font-weight: 700;
    font-size: 30px;
    margin-left: 400px;
    margin-bottom: 50px;

}

.skills-container{
    display: flex;
    font-weight: 700;
    font-size: 30px;
    gap: 90px;
    
}
.skill{
    padding: 1px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.skill-description{
    font-weight: 500;
    font-size: 17px;

}

.contact{
    display: flex;
    gap: 335px;
    background: #151414;
    color: #FFFF;
    padding: 130px 230px;
}
.contact-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    
}
.contact-details{
    margin-bottom: 24px;

}
.contact-email{
    margin-bottom: 16px;
}
.contact-phone{
    margin-bottom: 32px;
}
.contact input{
    border: 1px solid #FFFF;
    border-radius: 5px;
    padding: 20px;
    background: #151414;
    color: #FFFF;
}

/* Subscription bar styles */
.btn-secondary{
    color: #F15B22;       
    background: #FFFFFF;
    height: 60px;
    border-radius: 7px ;
    border: 0;              /* no border */
    padding: 25px 36px;     /*spacing around text inside button*/
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;

}
.contact a{
    padding:0 10px;
}

/* Gradient-image section */
.gradient-image{
    margin: 150px 250px;
    background-image: url('../images/watch.png'), url('../images/gradient2.png');

    background-position: right bottom, left;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    padding: 26px;
    

}

/*Project Section Styles*/
.project{
    margin: 130px 230px;
}
.project-section-title{
    margin-left: 450px;
    font-weight: 700;
    font-size: 27px;
}
.project-name{
    font-weight: 700;
    font-size: 20px;
    margin: 20px;
}

.project img{
    height: 100px;
    width: 200px;
    margin: 20px;
}
.project-info{
    display: flex;
    margin-top: 16px;
}
.project-details{
    margin: 0 10px;
    
}
.project-description{
    padding: 8px;
    margin:0 20px;
}
.project .btn-primary{
    height: 15%;
    font-size: 14px;
    margin-left: 30px;
}