*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{

    background-image: url('../images/banner/banner1.png');

}

.btn-primary{
    color: #FFFF;       
    background: #F15B22;
    height: 60px;
    border-radius: 5px ;
    border: 0;              /* no border */
    padding: 18px 35px;     /*spacing around text inside button*/
    font-weight: 800;
    font-size: 20px;
}
/* Show the heading2 and list items in the same line */
nav{
    display: flex;

    /* Send the two items within navbar to two ends*/
    justify-content: space-between;
    margin: 50px 200px;
}

/* Show all the list items in the same line*/
nav ul{
    display: flex;
    align-items: center;    /**/
}

nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 50px;
}
.text-primary{
    color:#F15B22;
}


/* Banner Styles */
.banner{
    margin: 0 200px;
}
.banner-title{
  
    font-weight: 800;
    font-size: 65px;
    text-align: right;
    color: #151414;
    margin-top: 220px;
    margin-left: 700px;
}
.banner-subtitle{
    margin-top: 24px;
    margin-left: 800px;
    margin-bottom: 24px;
}
.btn-contact{
    margin-left: 800px;
    margin-bottom: 24px;
    color: #FFFF;       
    background: #F15B22;
    height: 60px;
    border-radius: 5px ;
    border: 0;              /* no border */
    padding: 18px 35px;     /*spacing around text inside button*/
    font-weight: 800;
    font-size: 20px;
}


/*About section styles*/
.about{
 display: flex;
}
.about-image{
    margin-left:200px;
    margin-top: 100px;
}
.about-description{
    margin-right:300px;
    margin-top:400px;
    margin-left: 90px;
}
.about-title{
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 40px;
}
.about-text{
    margin-bottom: 8px;
}
.about li{
    margin: 8px;
    list-style:lower-roman;
}

/*Plan section*/
.plans{
 margin: 130px 230px;  

}

.plan-title{
    font-weight: 700;
    font-size: 40px;
    margin-left: 400px;
    margin-bottom: 50px;

}

.skills-container{
    display: flex;
    font-weight: 700;
    font-size: 30px;
    gap: 150px;
    
}
.skill{
    
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
}

.skill-description{
    font-weight: 500;
    font-size: 17px;

}